/7/book-catalogue-spring-data.iml
/*/target/
/2/test-app-2.iml
/1/test-app-1.iml
/3/quizz-boot.iml
/12/book-catalogue-spring-security-start.iml
/*/*.iml
/.idea/codeStyles/
/.idea/httpRequests/
/.idea/libraries/
/.idea/2020-05-otus-spring-whoisacat.iml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/spring-shell.log
/*.log
/*.log.*
